@charset "UTF-8";

body {
	background: #f5f5f5;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2.8em;
}
.subtitle {
	font-size: 1.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.links {
	font-size: 18px;
}
.links:hover {
	text-decoration: none;
}
.navbar-brand {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -1px;
}
.bg-gradient {
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow: 3px 3px 12px #dbdbdb, -3px -3px 12px #ffffff;
}
#bg-blur {
	background: rgba(255,255,255,0.9);
	border-bottom: 0.1px solid rgba(0,0,0,0.2);
}
@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  #bg-blur {
	background: rgba(255,255,255,0.6);
	padding-top: -1px;
	backdrop-filter: blur(10px) brightness(100%) saturate(80%) contrast(100%);
	-webkit-backdrop-filter: blur(15px) brightness(220%) saturate(120%) contrast(40%);
	border-bottom: 0.1px solid rgba(0,0,0,0.2);
  }
}
.navbar-toggler {
	padding: 5px;
}
.floating-navbar {
	margin: 10px;
	border-radius: 5px;
}
.max-width-limiter {
	margin: auto;
	max-width: 1000px;
}
.itemBox {
	position: relative;
}
#avenueBox {
	background: rgb(99,209,190);
	background: linear-gradient(180deg, rgba(99,209,190,1) 0%, rgba(158,231,228,1) 26%, rgba(196,244,209,1) 64%, rgba(129,228,197,1) 100%);
}
#sunlightBox {
	background: #2284b1;
	/*background: linear-gradient(180deg, rgba(60,91,131,1) 0%, rgba(106,218,255,1) 100%);*/
	background: radial-gradient(ellipse at bottom, rgba(255,203,0,1) 0%, rgba(255,182,39,1) 5%, rgba(79,188,194,1) 35%, rgba(15,80,159,1) 100%);
}

#environmentBox {
	background: rgb(213,255,253);
	background: linear-gradient(180deg, rgba(213,255,253,1) 0%, rgba(134,204,255,1) 100%); 
}
/*
#atmosphereBox {
	background: rgb(202,248,255);
	background: linear-gradient(0deg, rgba(0,198,255,1) 0%, rgba(0,86,189,1) 46%, rgba(0,39,74,1) 100%);	
}
*/
#atmosphereBox {
    background: linear-gradient(0deg, #003660, #0c76c9, #0897f2, #30c3e4, #30c3e4, #0897f2, #0c76c9, #003660);
    background-size: 360% 360%;

    -webkit-animation: AtmosphereBack 80s ease infinite;
    -moz-animation: AtmosphereBack 80s ease infinite;
    animation: AtmosphereBack 80s ease infinite;
}

@-webkit-keyframes AtmosphereBack {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AtmosphereBack {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AtmosphereBack { 
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

#nameJumbotron {
	background: rgb(255,216,216);
	background: linear-gradient(0deg, rgba(255,216,216,1) 0%, rgba(255,239,211,1) 54%, rgba(255,217,144,1) 100%);
}

#sunlight {
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}
#avenue {
	width: 60%;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
#coreGPXIcon {
	width: 80px;
}


.bg-lightgray {
	background: lightgray;
}

.nav-link {
	font-size: 18px;
	font-kerning: -20px;
}

a { 
	color:#5e4c8c;
}

#clearFilterButton {
	padding: 0;
	border: none;
	background: none;
	color: darkslateblue;
}
#clearFilterButton:hover {
	opacity: 80%;
}