{% assign imgPath = include.imagePath %}
{% if include.float == "left" %}
{% assign floatClass = "float-md-left" %}
{% elsif include.float == "right" %}
{% assign floatClass = "float-md-right" %}
{% endif %}
<style>
    .img-width {
        width: 100%;
        padding-bottom: 20px;
    }
    @media (min-width: 768px) { 
        .img-width {
            width: 45%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
</style>
<div class="text-center">
    <img src="{{imgPath}}" alt="" class="img-fluid {{ floatClass }} img-width" style="height: 5%; overflow-x: scroll;"/>
</div>