<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="gpx,gps,coregpx,vincent neo,singapore,sg,coding,sunlight,sunrise,sunset,ios,swift">
	<meta name="description"
		content="Vincent Neo of Singapore, App Developer. The creator of Sunlight app for iOS, as Avenue GPX Viewer, and CoreGPX Library. Active contributor of open-source projects.">

	<title>Vincent Neo</title>

	<link href="{{site.baseurl}}/favicon.png" rel="icon" type="image/png" />
	<link href="{{site.baseurl}}/apple-touch-icon.png" rel="apple-touch-icon">

	<link rel="stylesheet" href="{{site.baseurl}}/css/all.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/brands.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{site.baseurl}}/css/webpage.css" type="text/css">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<style>
		a {
			transition: 0.3s;
		}

		a:hover {
			text-decoration: dotted;
			opacity: 0.5;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="bg-blur">
		<div class="container">
			<div class="d-flex">
				<a class="" href="{{site.baseurl}}/" style="text-decoration: none;">
					<span class="navbar-brand px-2">
						<img alt="img" src="{{site.baseurl}}/favicon.png"
							style="width:30px; margin-right: 5px; margin-top: -3px;">Vincent Neo
					</span>
				</a>
				<div
					style="border-left: 1px solid darkslateblue; margin-left: -15px; margin-top: 7.5px; margin-bottom: 7.5px;">
				</div>
				<a class="" href="{{site.baseurl}}/posts" style="text-decoration: none;">
					<div class="navbar-brand pl-2" style="font-weight: 400; color: darkslateblue;">Blogs</div>
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav nav justify-content-end ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/apps">Apps</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{site.baseurl}}/posts">Blogs</a>
					</li>
					<!--
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#apps">Apps</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#oss">Open Source</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#achievements">Achievements</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">Contact</a>
						</li>
						-->
				</ul>
			</div>
		</div>
	</nav>

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	<footer class="page-footer text-light bg-dark mb-0 mt-auto">
		<div class="text-center text-md-left">
			<h5 class="font-weight-bold text-center mx-auto pt-3 mb-2" style="font-size: 30px;">Contact</h5>

			<ul class="nav justify-content-center text-center">
				<li class="nav-item">
					<a class="nav-link font-weight-bold text-info" href="mailto:vincent-neo@outlook.sg"><i
							class="fa fa-envelope"></i> Email</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold text-info" href="https://github.com/vincentneo"><i
							class="fab fa-github"></i> GitHub</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold text-info" href="https://twitter.com/iVincentNeo"><i
							class="fab fa-twitter"></i> Twitter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold text-info" href="https://www.instagram.com/neo.vincent/"><i
							class="fab fa-instagram pr-1"></i> Instagram</a>
				</li>
			</ul>

			<p style="font-size: 11px" class="mb-0 text-center text-secondary">&copy; 2020 Vincent Neo<br />
				Unauthorized use and/or duplication of this material hosted on vincent-neo.com, without express and
				written permission is strictly prohibited.<br />
				Excerpts and links may be used, provided that full and clear credit is given to Vincent Neo with
				appropriate and specific direction to the original content.
			</p>
			<p class="text-center mb-0 pb-2 text-secondary" style="font-size: 11px">
				Apple, the Apple logo, iPad and iPhone are trademarks of Apple Inc., registered in the U.S. and other
				countries. Swift and the Swift logo are trademarks of Apple Inc.</p>
		</div>
	</footer>
</body>

</html>