---
layout: default
---

<head>
  <title>Vincent Neo | Blog | {{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&display=swap" rel="stylesheet">
  <style>
    h1 {
      font-weight: bolder;
    }

    h1, h2, h3, h4, h5, h6 {
      padding-top: 10px;
    }

    article > p {
      padding: 0.5em;
    }

    article > p, article > ul {
      font-family: 'IBM Plex Serif', serif;
      font-size: 20px;
      font-weight: 400;
    }

    article > ul {
      width: 95%;
      font-weight: 300;
      font-size: 18.5px;
    }

    #bannerImg {
      width: 100%;
      height: 5%;
      overflow-x: scroll;
    }
  </style>
</head>
<div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 post mx-auto pt-3 pl-sm-2 pr-sm-2">
  {% if page.headerImage %}
  <div>
    <img src="{{ site.baseurl }}/{{ page.headerImage }}" alt="banner" id="bannerImg" class="img-fluid" />
  </div>
  {% endif %}
</div>
<div class="col-sm-11 col-md-10 col-lg-9 col-xl-7 post mx-auto pt-3 pl-sm-2 pr-sm-2">
  <header class="post-header text-center">
    <h1 class="mb-0">{{ page.title }}</h1>
  </header>
</div>
<div class="col-sm-10 col-md-9 col-lg-8 col-xl-6 post mx-auto pt-3 pl-sm-2 pr-sm-2">
  <h6 class="text-secondary pt-3 pb-3 text-right">{{ page.date | date: "%-d %B %Y" }}</h6>
  <article class="post-content mx-auto" id="articleContents">
    {{ content }}
  </article>

</div>
<div class='p-5'></div>